
.ship-board-unit {
    display: flex;
    align-items: baseline;
}

.ship-board-unit img {
    max-width: 100%;
    padding: 10px 5px;
    width: auto;
    height: 45px;
}
.ship-state img {
    height: 22px;
    padding: 10px 0;
}

@media (max-width: 980px) {
    .ship-board-unit {
        display: inline-flex;
        width: 175px;
    }
    .ship-board-unit img {
        height: 25px;
    }
    .ship-state img {
        height: 13px;
    }
}
@media (max-width: 605px) {
    .ship-board-unit {
        width: 50%;
    }
    .ship-board-unit img {
        height: 20px;
    }
    .ship-state img {
        height: 12px;
    }
}